*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
    height: 100%;
}
body{
    height: 100%;
    background-color:   #A7D7C5;
}
    .header {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    justify-content: center;
    border: 1px solid #C1E3D6;
    border-radius: 49px #C1E3D6;
    margin-top: 150px;
    border-radius: 20px;
    }
    .header_text{
        font-family: Karla;
        font-size: 55px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0em;
        
}
.header_p{
    width: 400px;
    font-family: Karla;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    margin-left: 135px;
}
.pasword {
    width: 576px;
    height: 65px;
    margin-bottom: 23px; 
    border-radius: 20px;
}
.acaunt {
    margin-top: 5px;
    margin-bottom: 16px;
    width: 392px;
    height: 90px;
    background-color: #84C7AE;
    font-family: Karla;
font-size: 34px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
border-radius: 40px;
}
.intro {
    padding-bottom: 83px;
    font-family: Karla;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

